.fill-container {
  margin-top: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-wrapper {
  width: 40%;
}

.fill-title {
  font-size: 24px;
  padding-left: 10px;
}

.fill-category {
  padding: 5px 0px 0px 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.fill-question-container {
  padding-left: 10px;
  margin-bottom: 30px;
}

.fill-question {
  vertical-align: middle;
}

.fill-options {
  display: flex;
  margin-top: 5px;
}

.radio-button,
.radio-label {
  align-self: center;
}

.radio-label {
  display: flex;
}

.radio-label {
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}

.no-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user-button {
  width: 20%;
}

.fill-button-wrapper {
  display: flex;
  padding-left: 10px;
}

.fill-button {
  margin-left: 0;
}


@media (max-width: 650px) {
  .fill-wrapper {
    width: 90%;
  }

  .no-user {
    align-items: flex-start;
  }

  .fill-button-wrapper {
    width: 90%;
  }

  .fill-button {
    margin-right: 10px;
  }
}