.change-pw-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  width: 40%;
}

.change-pw-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .change-pw-container {
    width: 90%;
    margin-top: 120px;
  }

  .change-pw-container h2 {
    text-align: left;
  }
}