.add-questions-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 50%;
  line-break: auto;
  word-break: break-all;
  text-align: justify;
}

.title-text,
.category-text {
  padding-left: 6px;
  font-weight: 700;
  font-size: 24px;
}

.error-text {
  margin-top: 5px;
  padding-left: 6px;
  font-size: 16px;
  color: red;
}

.button-wrapper {
  display: flex;
  padding-bottom: 50px;
}

.line {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: black;
}

.editables {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-left: 6px;
}

.current-options {
  margin-top: 0px;
}

.editable-option-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 650px) {
  .add-questions-container {
    width: 90%;
    margin-top: 120px;
  }

  .button-wrapper {
    justify-content: space-around;
  }

  .submitBtn {
    width: 40%;
  }
}