.forgot-pw-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 11%;
  width: 40%;
}

.forgot-pw-container button {
  width: 30%;
}

.incorrect-ans {
  padding-left: 5px;
  margin-top: 10px;
  font-size: 14px;
}